name: Build and Publish to PyPI
on:
  push:
    branches:
      - main
      - master
  pull_request: {}

permissions:
  contents: write

env:
  # avoid build failures due to flaky pypi
  PIP_DEFAULT_TIMEOUT: 60
  PIP_RETRIES: 5

  # required otherwise github api calls are rate limited
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: jdx/mise-action@v3
        env:
          MISE_ENV: ci
      - uses: iloveitaly/github-action-direnv-load-and-mask@master
      - run: uv sync
      - run: just lint

  matrix-test:
    needs: lint
    strategy:
      matrix:
        os:
          - ubuntu-latest
          # - macos-latest
        python-version: ["3.14", "3.13", "3.12", "3.11"]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
      - uses: jdx/mise-action@v3
      - run: mise use python@${{ matrix.python-version }}
      - uses: iloveitaly/github-action-direnv-load-and-mask@master
      - run: uv sync
      - name: Check CLI
        run: uv run ${{ github.event.repository.name }} --help
      - run: uv run pytest

  release-please:
    needs: matrix-test
    runs-on: ubuntu-latest
    outputs:
      release_created: ${{ steps.release.outputs.release_created }}
    steps:
      - uses: actions/checkout@v6
      - uses: googleapis/release-please-action@v4
        id: release
        with:
          release-type: python
          token: ${{ secrets.GH_PERSONAL_TOKEN }}

  build-and-publish:
    needs: release-please
    runs-on: ubuntu-latest
    if: ${{ needs.release-please.outputs.release_created }}
    permissions:
      id-token: write
      contents: read
    steps:
      - uses: actions/checkout@v6
      - uses: jdx/mise-action@v3
      - uses: iloveitaly/github-action-direnv-load-and-mask@master
      - run: uv sync
      - run: uv build
      - run: uv publish
